body {
    background-color: #f3f3ee;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    color: #000;
}

/* ------------------------------
   TÍTULO Y SUBTÍTULO
------------------------------ */
.title {
    text-align: center;
    margin-top: 50px;
}

.title h1 {
    color: #ff186e;
    font-family: "Playfair Display", serif;
    font-size: 42px;
    margin-bottom: 10px;
}

.title h3 {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    margin-top: 0;
    font-weight: 500;
}

/* ------------------------------
   INTRO
------------------------------ */
.intro {
    width: 70%;
    margin: 40px auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
}
