/* ------------------------------ */
/* CONFIGURACIÓN GLOBAL           */
/* ------------------------------ */

body {
    background-color: #f3f3ee;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
    color: black;
}

/* ------------------------------ */
/* HEADER Y LOGO                  */
/* ------------------------------ */
header {
    padding: 20px;
}

.logo img {
    width: 200px;
}

/* ------------------------------ */
/* TÍTULO Y PÁRRAFO               */
/* ------------------------------ */

.title {
    text-align: left;
    margin: 40px auto 0;
    width: 80%;
}

.title h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.title h3 {
    font-size: 22px;
    margin-bottom: 40px;
}

.intro {
    width: 80%;
    margin: 0 auto 60px;
    line-height: 1.8;
    font-size: 18px;
    text-align: justify;
}

/* ------------------------------ */
/* CARRUSEL                       */
/* ------------------------------ */

.carousel-container {
    width: 90%;
    margin: 0 auto 100px;
    display: flex;
    align-
