/* ------------------------- */
/*        TÍTULO Y SUBTÍTULO */
/* ------------------------- */

.title {
    text-align: center;
    margin-top: 80px;   /* separación desde arriba */
    margin-bottom: 60px; /* separación hacia el párrafo */
}

.title h1 {
    color: #ff186e; /* tu color original */
    font-family: "Playfair Display", serif;
    margin: 0;
    font-size: 3rem;
}

.title h3 {
    color: #000000;
    font-family: "Roboto Mono", monospace;
    margin-top: 10px;
    font-size: 1.3rem;
}

/* ------------------------- */
/*          PÁRRAFO          */
/* ------------------------- */
/* ------------------------- */
/*          PÁRRAFO          */
/* ------------------------- */
.contenido {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.contenido p {
    max-width: 900px;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.7;
    text-align: justify;          /* JUSTIFICADO */
    color: #333;
    font-family: "Courier New", monospace; /* COURIER NEW */
    padding: 0 20px;
}
