/* Título y subtítulo */
.title {
    text-align: center;
    margin-top: 80px;
}

.title h1 {
    color: #ff186e;
    font-family: "Playfair Display", serif;
    margin: 0;
}

.title h3 {
    color: #000000;
    font-family: "Roboto Mono", monospace;
    margin-top: 10px;
}

/* Párrafo */
.contenido {
    margin-top: 60px;           /* separación */
    width: 100%;
    display: flex;
    justify-content: center;    /* centra el bloque */
}

.contenido p {
    width: 100%;
    max-width: 700px;           /* hace una columna centrada */
    text-align: center;         /* centra el texto */
    font-size: 1.2rem;
    line-height: 1.7;
    color: #333;
    font-famil
