/* ------------------------- */
/*       FONDO GENERAL       */
/* ------------------------- */

body {
    background-color: #f3f3ee;   /* COLOR DE FONDO */
    margin: 0;                  /* quita espacios blancos alrededor */
    padding: 0;
}

/* ------------------------- */
/*        TÍTULO Y SUBTÍTULO */
/* ------------------------- */

.title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.title h1 {
    color: #ff186e;
    font-family: "Playfair Display", serif;
    margin: 0;
    font-size: 3rem;
}

.title h3 {
    color: #000000;
    font-family: "Roboto Mono", monospace;
    margin-top: 10px;
    font-size: 1.3rem;
}

/* ------------------------- */
/*          PÁRRAFO          */
/* ------------------------- */

.contenido {
    width: 100%;
    display: block;   /* <-- Aquí está la solución */
    margin-top: 60px;
}


.contenido p {
    max-width: 900px;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.7;
    text-align: justify;
    color: #333;
    font-family: "Courier New", monospace;
    padding: 0 20px;
}




